@import "tailwindcss";
@plugin "tailwindcss-noise";

:root {
  --color-b: #0f0d11;
  --color-c0: #221f25;
  --color-c1: #332f37;
  --color-c2: #54505a;
  --color-c3: #99959d;
  --color-c4: #cac8cc;
  --color-w: #eae9eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-open: var(--font-open-sans);
  --font-poppins: var(--font-poppins);
  --font-gochi: var(--font-gochi-hand);

    --color-b: var(--color-b);
  --color-c0: var(--color-c0);
  --color-c1: var(--color-c1);
  --color-c2: var(--color-c2);
  --color-c3: var(--color-c3);
  --color-c4: var(--color-c4);
  --color-w: var(--color-w);

}



body {
  color: var(--color-c4);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif; /* Atualizado */
}

.vertical-container {
  writing-mode: vertical-rl; /* texto na vertical, lendo de baixo para cima */
  text-orientation: mixed;
  white-space: nowrap;
  user-select: none;
}

.vertical-rotated-left {
  transform: rotate(180deg); /* para inverter a direção e ter a letra E embaixo */
}
